@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #7200ff;
}

::-webkit-scrollbar-thumb {
  background: #a200ff;
  border-radius: 10px;
}

.scrollTop {
  display: none;
  position: fixed;
  z-index: 40;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#5800c4), to(#7200ff));
  background: linear-gradient(to right, #5800c4, #7200ff);
  -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.scrollTop i {
  color: white;
  font-size: 2em;
}

.scrollTop:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scroll-indicator {
  display: none;
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #7200ff;
}

.scroll-indicator .progress-bar {
  background-color: #a200ff;
  height: 5px;
  border-radius: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", "sans-serif";
}

.bg-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, #2a026e, #7200ff 50%);
}

/*-------------------------------------------

Header

-------------------------------------------*/
header {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content {
  width: calc(100% - 120px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content .header__logo {
  position: relative;
  z-index: 60;
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content .header__logo a {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content .header__logo a img {
  height: 50%;
}

header .header__content .header__links {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content .header__links .link {
  text-decoration: none;
  color: white;
  margin-left: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header__content .header__links .link::after {
  top: 5px;
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 1em;
  background-color: white;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content .header__links .active {
  color: #d200ff;
}

header .header__content .header__links .active::after {
  background-color: #d200ff;
}

header .header__content .header__links .link:hover::after {
  width: 100%;
}

header .header__content .header__links .login-button {
  text-decoration: none;
  font-family: "Comfortaa", "sans-serif";
  color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 2em;
  border: 1px solid #7200ff;
  background: linear-gradient(200deg, #d200fb, #8b00a6);
  border-radius: 3em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content .header__links .login-button:hover {
  background: linear-gradient(200deg, #8b00a6, #9300ff);
}

header .header__content .burger-mobile {
  position: relative;
  z-index: 60;
  display: none;
  cursor: pointer;
  margin: 0 20px;
}

header .header__content .burger-mobile .bar1,
header .header__content .burger-mobile .bar2,
header .header__content .burger-mobile .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header__content #links-mobile {
  display: none;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  position: absolute;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg, rgba(42, 2, 110, 0.5), #7200ff 75%);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

header .header__content #links-mobile .links-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header__content #links-mobile .links-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  margin: 10px 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content #links-mobile .links-wrapper a i {
  margin: 0 5px;
}

header .header__content #links-mobile .links-wrapper a:hover {
  color: white;
  background-color: #7200ff;
}

header .header__content #links-mobile .links-wrapper .login-button {
  text-decoration: none;
  font-family: "Comfortaa", "sans-serif";
  color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  border: 1px solid #7200ff;
  background: linear-gradient(200deg, #d200fb, #8b00a6);
  border-radius: 3em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__content #links-mobile .links-wrapper .login-button:hover {
  background: linear-gradient(200deg, #8b00a6, #9300ff);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*-------------------------------------------

Login Frame

-------------------------------------------*/
.login-wrapper {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(114, 0, 255, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: 0.5s fadeOpening ease-in-out forwards;
          animation: 0.5s fadeOpening ease-in-out forwards;
}

.login-wrapper .login-frame {
  max-width: 600px;
  padding: 10px 30px;
  background: white;
  border-radius: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: 1s loginform ease-in-out forwards;
          animation: 1s loginform ease-in-out forwards;
}

.login-wrapper .login-frame .login-logo {
  width: 200px;
  padding: 20px;
}

.login-wrapper .login-frame .login-form {
  width: 300px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.login-wrapper .login-frame .login-form h1 {
  color: #7200ff;
}

.login-wrapper .login-frame .login-form input {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  font-family: "Comfortaa", "sans-serif";
  border: none;
  border-bottom: 1px solid #7200ff;
  outline: none;
  padding: 10px;
  color: #7200ff;
}

.login-wrapper .login-frame .login-form input[type="submit"] {
  width: 150px;
  background-color: #7200ff;
  color: white;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.login-wrapper .login-frame .login-form input[type="submit"]:hover {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#7200ff), to(#d200ff));
  background: linear-gradient(to right, #7200ff, #d200ff);
}

.login-wrapper .login-frame .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #7200ff;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-wrapper .login-frame .close i {
  font-size: 1.5em;
}

.login-wrapper .login-frame .close:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

/*-------------------------------------------

Landing Page

-------------------------------------------*/
.landingpage {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.landingpage .landingpage__wrapper {
  width: calc(100% - 120px);
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.landingpage .landingpage__wrapper .landingpage__content {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingpage .landingpage__wrapper .landingpage__content .landingpage__title {
  color: white;
  font-size: 3em;
}

.landingpage .landingpage__wrapper .landingpage__content p {
  margin: 20px 0;
  color: white;
}

.landingpage .landingpage__wrapper .landingpage__illustration {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingpage .landingpage__wrapper .landingpage__illustration img {
  width: 40%;
  -webkit-animation: ScaleEffect 1s infinite alternate linear;
          animation: ScaleEffect 1s infinite alternate linear;
}

.landingpage .landingpage__wrapper .landingpage__arrow {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landingpage .landingpage__wrapper .landingpage__arrow i {
  color: white;
  font-size: 2em;
}

.landingpage .burbujas {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.landingpage .burbujas .burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -150px;
  -webkit-animation: burbujas 3s linear infinite;
          animation: burbujas 3s linear infinite;
}

.landingpage .burbujas .burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.landingpage .burbujas .burbuja:nth-child(2) {
  width: 120px;
  height: 120px;
  left: 35%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.landingpage .burbujas .burbuja:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.landingpage .burbujas .burbuja:nth-child(4) {
  width: 90px;
  height: 90px;
  left: 55%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.landingpage .burbujas .burbuja:nth-child(5) {
  width: 20px;
  height: 20px;
  left: 65%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.landingpage .burbujas .burbuja:nth-child(6) {
  width: 100px;
  height: 100px;
  left: 80%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.landingpage .burbujas .burbuja:nth-child(7) {
  width: 30px;
  height: 30px;
  left: 15%;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.landingpage .burbujas .burbuja:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 25%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.landingpage .burbujas .burbuja:nth-child(9) {
  width: 80px;
  height: 80px;
  left: 75%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/*-------------------------------------------

Section & First Section

-------------------------------------------*/
.vector-top {
  position: relative;
  width: 100%;
  height: 200px;
  top: 5px;
}

.vector-bottom {
  position: relative;
  width: 100%;
  height: 200px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  top: -5px;
}

.first-section,
.second-section,
.third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  width: 100%;
  background: white;
}

.first-section .title,
.second-section .title,
.third-section .title {
  background: -webkit-gradient(linear, left top, right top, from(#2a026e), to(#7200ff));
  background: linear-gradient(to right, #2a026e, #7200ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  margin-bottom: 20px;
}

.first-section .servicios-wrapper,
.second-section .servicios-wrapper,
.third-section .servicios-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-section .servicios-wrapper hr,
.second-section .servicios-wrapper hr,
.third-section .servicios-wrapper hr {
  border: 1px solid #7200ff;
  width: 90%;
}

.first-section .servicios-wrapper .servicios,
.first-section .servicios-wrapper .servicios2,
.second-section .servicios-wrapper .servicios,
.second-section .servicios-wrapper .servicios2,
.third-section .servicios-wrapper .servicios,
.third-section .servicios-wrapper .servicios2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.first-section .servicios-wrapper .servicios .servicios-img-wrapper,
.first-section .servicios-wrapper .servicios2 .servicios-img-wrapper,
.second-section .servicios-wrapper .servicios .servicios-img-wrapper,
.second-section .servicios-wrapper .servicios2 .servicios-img-wrapper,
.third-section .servicios-wrapper .servicios .servicios-img-wrapper,
.third-section .servicios-wrapper .servicios2 .servicios-img-wrapper {
  min-width: 250px;
}

.first-section .servicios-wrapper .servicios .servicios-img-wrapper img,
.first-section .servicios-wrapper .servicios2 .servicios-img-wrapper img,
.second-section .servicios-wrapper .servicios .servicios-img-wrapper img,
.second-section .servicios-wrapper .servicios2 .servicios-img-wrapper img,
.third-section .servicios-wrapper .servicios .servicios-img-wrapper img,
.third-section .servicios-wrapper .servicios2 .servicios-img-wrapper img {
  padding: 20px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.first-section .servicios-wrapper .servicios .servicios-info,
.first-section .servicios-wrapper .servicios2 .servicios-info,
.second-section .servicios-wrapper .servicios .servicios-info,
.second-section .servicios-wrapper .servicios2 .servicios-info,
.third-section .servicios-wrapper .servicios .servicios-info,
.third-section .servicios-wrapper .servicios2 .servicios-info {
  margin: 20px 40px;
  max-width: 700px;
}

.first-section .servicios-wrapper .servicios .servicios-info h2,
.first-section .servicios-wrapper .servicios2 .servicios-info h2,
.second-section .servicios-wrapper .servicios .servicios-info h2,
.second-section .servicios-wrapper .servicios2 .servicios-info h2,
.third-section .servicios-wrapper .servicios .servicios-info h2,
.third-section .servicios-wrapper .servicios2 .servicios-info h2 {
  background: -webkit-gradient(linear, left top, right top, from(#2a026e), to(#7200ff));
  background: linear-gradient(to right, #2a026e, #7200ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

.first-section .servicios-wrapper .servicios .servicios-info p,
.first-section .servicios-wrapper .servicios2 .servicios-info p,
.second-section .servicios-wrapper .servicios .servicios-info p,
.second-section .servicios-wrapper .servicios2 .servicios-info p,
.third-section .servicios-wrapper .servicios .servicios-info p,
.third-section .servicios-wrapper .servicios2 .servicios-info p {
  color: #555;
  margin: 20px 0;
}

.first-section .servicios-wrapper .servicios2,
.second-section .servicios-wrapper .servicios2,
.third-section .servicios-wrapper .servicios2 {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.first-section .servicios-wrapper .servicios:hover > .servicios-img-wrapper img,
.first-section .servicios-wrapper .servicios2:hover > .servicios-img-wrapper img,
.second-section .servicios-wrapper .servicios:hover > .servicios-img-wrapper img,
.second-section .servicios-wrapper .servicios2:hover > .servicios-img-wrapper img,
.third-section .servicios-wrapper .servicios:hover > .servicios-img-wrapper img,
.third-section .servicios-wrapper .servicios2:hover > .servicios-img-wrapper img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*-------------------------------------------

Plan Modal

-------------------------------------------*/
.plan-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 2, 110, 0.8);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: 0.5s fadeOpening ease-in-out forwards;
          animation: 0.5s fadeOpening ease-in-out forwards;
}

.plan-modal .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 500px;
  padding: 10px;
  margin: 10px;
  background: white;
  border-radius: 2em;
  -webkit-animation: 1s loginform ease-in-out forwards;
          animation: 1s loginform ease-in-out forwards;
}

.plan-modal .plan .close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.plan-modal .plan .close i {
  color: #7200ff;
  font-size: 2em;
}

.plan-modal .plan .close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.plan-modal .plan .plan-logo {
  max-width: 200px;
  margin: 10px;
}

.plan-modal .plan .plan-logo img {
  width: 100%;
}

.plan-modal .plan h1 {
  background: -webkit-gradient(linear, left top, right top, from(#2a026e), to(#7200ff));
  background: linear-gradient(to right, #2a026e, #7200ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plan-modal .plan h2 {
  color: #7200ff;
  font-size: 1.4em;
  margin: 5px 0;
}

.plan-modal .plan p {
  width: 90%;
  text-align: center;
  font-size: 0.9em;
  color: #7200ff;
}

.plan-modal .plan hr {
  width: 90%;
  border: 1px solid #7200ff;
  margin: 10px 0;
}

.plan-modal .plan .plan-modal-content {
  margin-top: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan-modal .plan .plan-modal-content input, .plan-modal .plan .plan-modal-content textarea {
  width: 100%;
  height: 40px;
  margin: 5px 0;
  color: #7200ff;
  font-family: 'Comfortaa', 'sans-serif';
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #7200ff;
}

.plan-modal .plan .plan-modal-content input[type="submit"] {
  background: #7200ff;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.plan-modal .plan .plan-modal-content textarea {
  height: 100px;
  resize: none;
}

/*-------------------------------------------

Second Section

-------------------------------------------*/
.second-section .title {
  margin-bottom: 10px;
}

.second-section .second-section-header {
  max-width: 800px;
  text-align: center;
}

.second-section .second-section-header h3 {
  color: #7200ff;
}

.second-section .second-section-header p {
  margin: 5px 20px;
  color: #555;
}

.second-section .planes-wrapper {
  width: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-section .planes-wrapper .plan {
  width: 350px;
  min-height: 620px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(45deg, #2a026e, #7200ff);
  border-radius: 2em;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.second-section .planes-wrapper .plan .plan-logo {
  width: 120px;
  height: 120px;
  margin: 20px;
  border: 3px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .planes-wrapper .plan .plan-logo i {
  color: white;
  font-size: 3em;
}

.second-section .planes-wrapper .plan .plan-content {
  width: 80%;
  position: relative;
}

.second-section .planes-wrapper .plan .plan-content h2 {
  color: white;
  font-size: 1.6em;
  text-align: center;
}

.second-section .planes-wrapper .plan .plan-content .price h3 {
  font-size: 2.2em;
  color: white;
  text-align: center;
  margin: 5px;
}

.second-section .planes-wrapper .plan .plan-content .price p {
  text-align: center;
}

.second-section .planes-wrapper .plan .plan-content hr {
  width: 100%;
  margin: 20px auto;
  border: 1px solid white;
}

.second-section .planes-wrapper .plan .plan-content p {
  color: white;
  margin: 10px;
  font-size: 0.9em;
}

.second-section .planes-wrapper .plan .boton-plan {
  margin: 10px;
  width: 200px;
  height: 50px;
  font-family: "Comfortaa", "sans-serif";
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2em;
  text-decoration: none;
  color: white;
  background: linear-gradient(200deg, #d200fb, #8b00a6);
}

.second-section .planes-wrapper .plan:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.third-section p {
  color: #555;
  margin-top: -10px;
  max-width: 900px;
  text-align: center;
}

.third-section .contacto-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.third-section .contacto-wrapper .contacto-logo {
  width: 300px;
  padding: 20px 40px;
}

.third-section .contacto-wrapper .contacto-logo img {
  width: 90%;
}

.third-section .contacto-wrapper .contacto-content {
  max-width: 500px;
  margin: 20px;
}

.third-section .contacto-wrapper .contacto-content input,
.third-section .contacto-wrapper .contacto-content textarea {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  font-family: "Comfortaa", "sans-serif";
  color: #7200ff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #7200ff;
  outline: none;
}

.third-section .contacto-wrapper .contacto-content input:focus,
.third-section .contacto-wrapper .contacto-content textarea:focus {
  border-bottom: 1px solid #d200ff;
  color: #d200ff;
}

.third-section .contacto-wrapper .contacto-content input[type="submit"] {
  border: none;
  background: #7200ff;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.third-section .contacto-wrapper .contacto-content textarea {
  height: 100px;
  resize: none;
}

/*-------------------------------------------

Footer

-------------------------------------------*/
footer {
  position: relative;
  width: 100%;
  background-color: #1d2331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-social {
  width: 100%;
  background-color: #5800c4;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-social .social-text {
  width: 550px;
  text-align: center;
}

footer .footer-social .social-text p {
  color: white;
  margin: 10px 0;
}

footer .footer-social .socialmedia {
  width: 550px;
  text-align: center;
}

footer .footer-social .socialmedia a {
  text-decoration: none;
  color: white;
  margin: 0 3%;
}

footer .footer-social .socialmedia a i {
  font-size: 1.5em;
}

footer .footer-content {
  width: 80%;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-content .footer-logo {
  max-width: 300px;
  text-align: center;
}

footer .footer-content .footer-logo img {
  width: 80%;
}

footer .footer-content .footer-logo p {
  color: white;
  font-size: 0.8em;
  margin: 5px 0;
}

footer .footer-content .footer-info {
  max-width: 300px;
}

footer .footer-content .footer-info h2 {
  color: white;
}

footer .footer-content .footer-info hr {
  width: 120px;
  margin: 5px 0;
  border: 1px solid #5800c4;
}

footer .footer-content .footer-info p {
  color: white;
  font-size: 0.8em;
  margin: 10px 0;
}

footer .footer-content .footer-info p i {
  margin-right: 10px;
}

footer .footer-bottom-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #161d27;
}

footer .footer-bottom-bar p {
  color: #777;
  font-size: 0.9em;
}

footer .footer-bottom-bar p b {
  color: white;
  font-weight: lighter;
}

/*-------------------------------------------

404 & 403

-------------------------------------------*/
.error-wrapper, .enviado-wrapper {
  width: 100%;
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-wrapper .error-img, .error-wrapper .enviado-img, .error-wrapper .failed-img, .enviado-wrapper .error-img, .enviado-wrapper .enviado-img, .enviado-wrapper .failed-img {
  max-width: 400px;
  background-color: white;
  border-radius: 2em;
  padding: 40px;
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error-wrapper .error-img img, .error-wrapper .enviado-img img, .error-wrapper .failed-img img, .enviado-wrapper .error-img img, .enviado-wrapper .enviado-img img, .enviado-wrapper .failed-img img {
  padding: 20px;
  width: 100%;
}

.error-wrapper .error-img h1, .error-wrapper .enviado-img h1, .error-wrapper .failed-img h1, .enviado-wrapper .error-img h1, .enviado-wrapper .enviado-img h1, .enviado-wrapper .failed-img h1 {
  background: -webkit-gradient(linear, left top, right top, from(#2a026e), to(#7200ff));
  background: linear-gradient(to right, #2a026e, #7200ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

.error-wrapper .error-img p, .error-wrapper .enviado-img p, .error-wrapper .failed-img p, .enviado-wrapper .error-img p, .enviado-wrapper .enviado-img p, .enviado-wrapper .failed-img p {
  margin: 10px 0;
  color: #555;
}

.error-wrapper .error-img a, .error-wrapper .enviado-img a, .error-wrapper .failed-img a, .enviado-wrapper .error-img a, .enviado-wrapper .enviado-img a, .enviado-wrapper .failed-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 10px;
  color: white;
  width: 200px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#2a026e), to(#7200ff));
  background: linear-gradient(to right, #2a026e, #7200ff);
  border-radius: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.error-wrapper .error-img a i, .error-wrapper .enviado-img a i, .error-wrapper .failed-img a i, .enviado-wrapper .error-img a i, .enviado-wrapper .enviado-img a i, .enviado-wrapper .failed-img a i {
  margin: 0 5px;
}

.error-wrapper .error-img a:hover, .error-wrapper .enviado-img a:hover, .error-wrapper .failed-img a:hover, .enviado-wrapper .error-img a:hover, .enviado-wrapper .enviado-img a:hover, .enviado-wrapper .failed-img a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.error-wrapper .enviado-img .enviado, .error-wrapper .failed-img .enviado, .enviado-wrapper .enviado-img .enviado, .enviado-wrapper .failed-img .enviado {
  font-size: 10em;
  color: #77dd77;
  margin-bottom: 30px;
}

.error-wrapper .enviado-img .failed, .error-wrapper .failed-img .failed, .enviado-wrapper .enviado-img .failed, .enviado-wrapper .failed-img .failed {
  font-size: 10em;
  color: #dd7777;
  margin-bottom: 30px;
}

/*-------------------------------------------

Mail Design

-------------------------------------------*/
.test-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #2a026e, #7200ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-------------------------------------------

Animations

-------------------------------------------*/
@-webkit-keyframes fadeOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOpening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loginform {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes loginform {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@-webkit-keyframes ScaleEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes ScaleEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/*-------------------------------------------

Responsive Design

-------------------------------------------*/
@media screen and (max-width: 1000px) {
  header .header__content {
    width: 100%;
  }
  header .header__content .header__links {
    display: none;
  }
  header .header__content .burger-mobile {
    display: block;
  }
  header .header__content #links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landingpage .landingpage__wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .landingpage .landingpage__wrapper .landingpage__content {
    text-align: center;
  }
  .landingpage .landingpage__wrapper .landingpage__content .landingpage__title {
    font-size: 2em;
  }
  .landingpage .landingpage__wrapper .landingpage__illustration img {
    width: 180px;
  }
  .landingpage .landingpage__wrapper .landingpage__arrow {
    position: inherit;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 648px) {
  footer .footer-content .footer-info {
    margin-top: 40px;
    text-align: center;
  }
  footer .footer-content .footer-info hr {
    margin: 5px auto;
  }
}
/*# sourceMappingURL=styles.css.map */